<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/audio.css">
    <link rel="stylesheet" href="./css/header-footer.css">
    <link rel="stylesheet" href="./vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/fontawesome/all.min.css">

    <title>Nghe audio</title>
   
</head>

<body>
    <!-- header -->
    <header>
        <div class="container-header container">
          <div class="nav-btn d-block d-lg-none">
            <span><i class="fa-solid fa-bars"></i></span>
            <ul>
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Sách nói</a></li>
              <li><a href="#">Ebook</a></li>
              <li><a href="#">Truyện</a></li>
              <li><a href="#">VIP</a></li>
              <li><a href="#">Danh ngôn</a></li>
            </ul>
          </div>
          <div class="logo">
            <a href="#">BookIT.vn</a>
          </div>
          <div class="menu">
            <nav class="d-none d-lg-block">
              <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Sách nói</a></li>
                <li><a href="#">Ebook</a></li>
                <li><a href="#">Truyện</a></li>
                <li><a href="#">VIP</a></li>
                <li><a href="#">Danh ngôn</a></li>
              </ul>
            </nav>
            <a href="#" class="account">
              <div class="avatar">
                <i class="fa-solid fa-circle-user"></i>
              </div>
              <div class="info">
                <div class="title-info">Tài khoản</div>
                <div class="name-info">Robocon321</div>
              </div>
            </a>
          </div>
        </div>
    </header>

    <!-- body -->
    <div class="container">
        <div class="audio">
            <div class="audio-info">
                <h2 class="product-title">Tuổi Trẻ Dùng Để Làm Gì?</h2>
                <p class="info-item">
                    <span class="info-label">Tác giả</span>
                    <a href="#"><span class="info-item">Huỳnh Chí Viễn</span></a>
                </p>
            </div>
            <div class="audio-detail">
                <h4 class="detail-title">Giới thiệu sách</h4>
                <p class="detail-description">
                    “Những bài viết trong cuốn sách này là những trải nghiệm của bản thân tôi cũng như những trăn trở
                    mỗi ngày của tôi với một mong mỏi: giúp các bạn trẻ tận dụng được thời gian tuổi trẻ và những tiềm
                    năng của mình một cách hiệu quả nhất để có thể tiếp tục gặt hái những thành công quan trọng hơn
                    trong cuộc sống.” trích Lời nói đầu Tuổi trẻ của bạn dùng để làm gì? Cuốn sách như một người cố vấn
                    cho các bạn trẻ trong thời đại ngày hôm nay những vấn đề cập nhật, hay những chủ đề muôn thuở mà
                    nhiều bạn trẻ đang gặp phải. Đồng thời cũng là lời giải đáp cho các bạn trẻ về nhiều câu hỏi tại sao
                    trong cuộc sống."
                </p>

                <div class="audio-player">
                    <div class="audio-img">

                        <div class="audio-bg">
                            <div class="title-chapter">
                                <span class="audio-item-no">1.</span>
                                00. Lời Nói Đầu
                            </div>
                            <img src="./images/product02.png" alt="">
                        </div>

                    </div>
                    <audio controls controlsList="nodownload">
                        <source src="./audio/Eternal-Hope-Kevin-MacLeod.ogg" type="audio/ogg">
                        <source src="./audio/Eternal Hope - Kevin MacLeod.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>

                </div>

                <div class="relative">
                    <div class="social-media">
                        <a href="#" class="btn btn-primary facebook " role="button" data-bs-toggle="button">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="btn btn-info text-white twitter " role="button" data-bs-toggle="button">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-danger pinterest " role="button" data-bs-toggle="button">
                            <i class="fa-brands fa-pinterest"></i>
                        </a>
                        <a href="#" class="btn btn-primary linkedin " role="button" data-bs-toggle="button">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="reading-format">
                        <a href="#" class="btn btn-danger read-pdf" role="button" data-bs-toggle="button">Đọc PDF</a>
                        <a href="#" class="btn btn-primary read-online" role="button" data-bs-toggle="button">Đọc
                            online</a>
                    </div>
                </div>

                <ul class="audio-list">
                    <li class="audio-item js-play active">
                        <a href="#" class="audio-link">
                            <span class="audio-item-no">1.</span>
                            00. Lời Nói Đầu
                        </a>
                    </li>
                    <li class="audio-item">
                        <a href="#" class="audio-link">
                            <span class="audio-item-no">2.</span>
                            01. Chương 1_Xin Đừng Gọi Những Người Trẻ Là Thế Hệ Vô Tâm
                        </a>
                    </li>
                    <li class="audio-item">
                        <a href="#" class="audio-link">
                            <span class="audio-item-no">2.</span>
                            02. Chương 2_Bảy Sai Lầm Thường Gặp Của Trí Thức Việt Trẻ
                        </a>
                    </li>
                    <li class="audio-item">
                        <a href="#" class="audio-link">
                            <span class="audio-item-no">3.</span>
                            03. Chương 3_Hành Trang Vào Đời Của Các Bạn Sinh Viên Trẻ Ngày Nay Có Gì
                        </a>
                    </li>
                    <li class="audio-item">
                        <a href="#" class="audio-link">
                            <span class="audio-item-no">4.</span>
                            04. Chương 4_Trí Thức Hay Trí Ngủ
                        </a>
                    </li>
                    <li class="audio-item">
                        <a href="#" class="audio-link">
                            <span class="audio-item-no">5.</span>
                            05. Chương 5_Trình Độ Văn Hoá Của Một Người Được Đo Bằng Gì
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <div class="container-footer">
            <div class="company">
                <div class="contact">
                    <div class="contact-group">
                        <h3>Công ty cổ phần Công nghệ WeWe</h3>
                        <p><b>Địa chỉ trụ sợ: </b><span>Số 1 đường Trần Thánh Tông, Phường 15,
                                Quận Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</span></p>
                        <p><b>Văn phòng đại diện: </b><span>44 đường Lê Văn Duyệt, Phường 1,
                                Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam</span></p>
                    </div>
                    <div class="contact-group">
                        <h3>Liên hệ</h3>
                        <p>Đội ngũ tư vấn của Voiz FM túc trực thường xuyên
                            để giải đáp những thắc mắc của khách hàng mọi lúc mọi nơi!</p>
                        <p>
                            <span class="c-white"><i class="fa-solid fa-phone"></i> </span>
                            <span>SĐT (giờ hành chính): </span>
                            <span class="c-white">0399967500</span>
                        </p>
                        <p>
                            <span class="c-white"><i class="fa-solid fa-envelope"></i> </span>
                            <span>Email: </span>
                            <span class="c-white">support@wewe.vn</span>
                        </p>
                        <p>
                            <span class="c-white"><i class="fa-brands fa-facebook-messenger"></i> </span>
                            <span>Messenger (24/24): </span>
                            <span class="c-white">m.me/VoizFM</span>
                        </p>
                    </div>
                </div>
                <div class="app">
                    <h3>TẢI ỨNG DỤNG NGAY</h3>
                    <div class="downloads">
                        <div class="download">
                            <div class="qr"><img src="./images/ios.jpg" alt="Not found" /></div>
                            <div class="store-btn"><img src="./images/ios-app-store.png" alt="Not found" /></div>
                        </div>
                        <div class="download">
                            <div class="qr"><img src="./images/android.jpg" alt="Not found" /></div>
                            <div class="store-btn"><img src="./images/ch-play-store.png" alt="Not found" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="certificate">Giấy chứng nhận đăng ký doanh nghiệp số 0315342039 do Sở Kế hoạch & Đầu tư Thành phố Hồ
                Chí Minh cấp ngày 19/10/2018
            </div>
        </div>
    </footer>

    <script src="./vendor/bootstrap/bootstrap.min.js"></script>
    <script src="./vendor/fontawesome/all.min.js"></script>
    <script src="./vendor/jquery/jquery3.6.0.min.js"></script>
</body>

</html>

